<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.DataSetDefMapper" >

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS [LR-DATA-SET-DEF] (
            dataSetDefId  INTEGER        PRIMARY KEY AUTOINCREMENT
                                         NOT NULL,
            dataSetDefKey VARCHAR (64),
            name          VARCHAR (64),
            remark        VARCHAR (1024)
        );
    </update>

</mapper>