<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.LrcMapper" >

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS [LR-LRC] (
            lrcId       INTEGER         PRIMARY KEY AUTOINCREMENT
                                        NOT NULL,
            lrct        VARCHAR (64)    NOT NULL,
            createTime  VARCHAR (16),
            intro       VARCHAR (512),
            type        INTEGER (2),
            ipWhiteList VARCHAR (10240),
            keyPair     BLOB
        );
    </update>

</mapper>