<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.LrcMapper" >

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS [LR-TASK] (
            taskId     INTEGER       PRIMARY KEY AUTOINCREMENT
                                     NOT NULL,
            taskKey    VARCHAR (64),
            taskName   VARCHAR (256),
            createTime INTEGER (16)
        );
    </update>

</mapper>