<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.DsdDspdRelMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_DSD_DSPD_REL` (
            `dsd_dspd_rel_id`         INTEGER (16) NOT NULL AUTO_INCREMENT,
            `data_set_def_key`        VARCHAR (64),
            `data_set_prop_def_key`   VARCHAR (64),
        PRIMARY KEY (`dsd_dspd_rel_id`));
    </update>

</mapper>