<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.LrcIpWhiteMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_LRC_IP_WHITE` (
            `lrc_ip_white_id`     INTEGER (16) NOT NULL AUTO_INCREMENT,
            `lrc_ip_white_key`    VARCHAR (64),
            `lrc_key`             VARCHAR (64),
            `ip_address`          VARCHAR (64),
        PRIMARY KEY (`lrc_ip_white_id`));
    </update>

    <!-- 新增  -->
    <insert id="insertLrcIpWhite" parameterType="cn.lemonit.robot.runner.common.beans.entity.LrcIpWhite" >
        INSERT INTO
        `LR_LRC_IP_WHITE` (
            lrc_ip_white_id,
            lrc_ip_white_key,
            lrc_key,
            ip_address
        ) VALUES (
            #{lrcIpWhiteId},
            #{lrcIpWhiteKey},
            #{lrcKey},
            #{ipAddress}
        )
    </insert>

    <!-- 删除  -->
    <delete id="deleteLrcIpWhiteByKey" parameterType="String" >
        DELETE
        FROM
            LR_LRC_IP_WHITE
        WHERE
            lrc_ip_white_key = #{key}
    </delete>

    <!-- 删除  -->
    <delete id="deleteLrcIpWhite" parameterType="cn.lemonit.robot.runner.common.beans.entity.LrcIpWhite">
        DELETE
        FROM
        `LR_LRC_IP_WHITE`
        WHERE
        1 = 1
        <if test="lrcIpWhiteId != null">
            AND lrc_ip_white_id = #{lrcIpWhiteId}
        </if>
        <if test="lrcIpWhiteKey != null">
            AND lrc_ip_white_key = #{lrcIpWhiteKey}
        </if>
        <if test="lrcKey != null">
            AND lrc_key = #{lrcKey}
        </if>
        <if test="ipAddress != null">
            AND ip_address = #{ipAddress}
        </if>
    </delete>

    <!-- 修改  -->
    <update id="updateLrcIpWhite" parameterType="cn.lemonit.robot.runner.common.beans.entity.LrcIpWhite" >
        UPDATE
        `LR_LRC_IP_WHITE`
        SET
        <trim suffixOverrides="," >
            <if test="lrcIpWhiteKey != null">
                lrc_ip_white_key = #{lrcIpWhiteKey},
            </if>
            <if test="lrcKey != null">
                lrc_key = #{lrcKey},
            </if>
            <if test="ipAddress != null">
                ip_address = #{ipAddress},
            </if>
        </trim>
        WHERE
        lrc_ip_white_key = #{lrcIpWhiteKey}
    </update>

    <!-- 查询  -->
    <select id="selectLrcIpWhite" parameterType="cn.lemonit.robot.runner.common.beans.entity.LrcIpWhite" resultType="cn.lemonit.robot.runner.common.beans.entity.LrcIpWhite">
        SELECT
        lrc_ip_white_id AS lrcIpWhiteId,
        lrc_ip_white_key AS lrcIpWhiteKey,
        lrc_key AS lrcKey,
        ip_address AS ipAddress
        FROM
        `LR_LRC_IP_WHITE`
        WHERE
        1 = 1
        <if test="lrcIpWhiteId != null">
            AND lrc_ip_white_id = #{lrcIpWhiteId}
        </if>
        <if test="lrcIpWhiteKey != null">
            AND lrc_ip_white_key = #{lrcIpWhiteKey}
        </if>
        <if test="lrcKey != null">
            AND lrc_key = #{lrcKey}
        </if>
        <if test="ipAddress != null">
            AND ip_address = #{ipAddress}
        </if>
    </select>

    <!-- 查询  -->
    <select id="countLrcIpWhite" parameterType="cn.lemonit.robot.runner.common.beans.entity.LrcIpWhite" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
        `LR_LRC_IP_WHITE`
        WHERE
        1 = 1
        <if test="lrcIpWhiteId != null">
            AND lrc_ip_white_id = #{lrcIpWhiteId}
        </if>
        <if test="lrcIpWhiteKey != null">
            AND lrc_ip_white_key = #{lrcIpWhiteKey}
        </if>
        <if test="lrcKey != null">
            AND lrc_key = #{lrcKey}
        </if>
        <if test="ipAddress != null">
            AND ip_address = #{ipAddress}
        </if>
    </select>

</mapper>