<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.LrcMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_LRC` (
          `lrcId`       INTEGER (16) NOT NULL AUTO_INCREMENT,
          `lrcKey`      VARCHAR (64) NULL,
          `createTime`  VARCHAR (16) NULL,
          `intro`       VARCHAR (512) NULL,
          `type`        INTEGER (2) NULL,
          `publicKey`   VARCHAR (2048) NULL,
          `privateKey`  VARCHAR (2048) NULL,
        PRIMARY KEY (`lrcId`));
    </update>

    <!-- 新增  -->
    <insert id="insertLrc" parameterType="cn.lemonit.robot.runner.common.beans.entity.Lrc">
        INSERT INTO
        `LR_LRC` (
            lrcId,
            lrcKey,
            createTime,
            intro,
            type,
            publicKey,
            privateKey
        ) VALUES (
            #{lrcId},
            #{lrcKey},
            #{createTime},
            #{intro},
            #{type},
            #{publicKey},
            #{privateKey}
        )
    </insert>

    <!-- 删除  -->
    <delete id="deleteLrcByKey" parameterType="String">
        DELETE
        FROM
            LR_LRC
        WHERE
            lrcKey = #{key}
    </delete>

    <!-- 删除  -->
    <delete id="deleteLrc" parameterType="cn.lemonit.robot.runner.common.beans.entity.Lrc">
        DELETE
        FROM
        `LR_LRC`
        WHERE
        1 = 1
        <if test="lrcId != null">
            AND lrcId = #{lrcId}
        </if>
        <if test="lrcKey != null">
            AND lrcKey = #{lrcKey}
        </if>
        <if test="createTime != null">
            AND createTime = #{createTime}
        </if>
        <if test="intro != null">
            AND intro = #{intro}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="publicKey != null">
            AND publicKey = #{publicKey}
        </if>
        <if test="privateKey != null">
            AND privateKey = #{privateKey}
        </if>
    </delete>

    <!-- 修改  -->
    <update id="updateLrc" parameterType="cn.lemonit.robot.runner.common.beans.entity.Lrc">
        UPDATE
        `LR_LRC`
        SET
        <trim suffixOverrides=",">
            <if test="lrcKey != null">
                lrcKey = #{lrcKey},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="intro != null">
                intro = #{intro},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="publicKey != null">
                publicKey = #{publicKey},
            </if>
            <if test="privateKey != null">
                privateKey = #{privateKey},
            </if>
        </trim>
        WHERE
        lrcKey = #{lrcKey}
    </update>

    <!-- 查询  -->
    <select id="selectLrc" parameterType="cn.lemonit.robot.runner.common.beans.entity.Lrc"
            resultType="cn.lemonit.robot.runner.common.beans.entity.Lrc">
        SELECT
        lrcId AS lrcId,
        lrcKey AS lrcKey,
        createTime AS createTime,
        intro AS intro,
        type AS type,
        publicKey AS publicKey,
        privateKey AS privateKey
        FROM
        `LR_LRC`
        WHERE
        1 = 1
        <if test="lrcId != null">
            AND lrcId = #{lrcId}
        </if>
        <if test="lrcKey != null">
            AND lrcKey = #{lrcKey}
        </if>
        <if test="createTime != null">
            AND createTime = #{createTime}
        </if>
        <if test="intro != null">
            AND intro = #{intro}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="publicKey != null">
            AND publicKey = #{publicKey}
        </if>
        <if test="privateKey != null">
            AND privateKey = #{privateKey}
        </if>
    </select>

    <!-- 查询  -->
    <select id="countLrc" parameterType="cn.lemonit.robot.runner.common.beans.entity.Lrc"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
        `LR_LRC`
        WHERE
        1 = 1
        <if test="lrcId != null">
            AND lrcId = #{lrcId}
        </if>
        <if test="lrcKey != null">
            AND lrcKey = #{lrcKey}
        </if>
        <if test="createTime != null">
            AND createTime = #{createTime}
        </if>
        <if test="intro != null">
            AND intro = #{intro}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="publicKey != null">
            AND publicKey = #{publicKey}
        </if>
        <if test="privateKey != null">
            AND privateKey = #{privateKey}
        </if>
    </select>

</mapper>