<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.LrcSessionMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR-LRC-SESSION` (
            `lrcSessionId`    INTEGER (16) NOT NULL AUTO_INCREMENT,
            `lrcSessionKey`   VARCHAR (64),
            `lrcKey`          VARCHAR (64),
            `lrcs`            VARCHAR (64),
        PRIMARY KEY (`lrcSessionId`));
    </update>

</mapper>