<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.LrcSessionMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_LRC_SESSION` (
            `lrc_session_id`    INTEGER (16) NOT NULL AUTO_INCREMENT,
            `lrc_session_key`   VARCHAR (64),
            `lrc_key`           VARCHAR (64),
            `lrcs`              VARCHAR (64),
            `ip_address`        VARCHAR (64),
            `active_time`       VARCHAR (64),
        PRIMARY KEY (`lrc_session_id`));
    </update>

    <delete id="clearExpiredSession" parameterType="java.lang.Long">
        DELETE
        FROM
        `LR_LRC_SESSION`
        WHERE
        active_time &lt; #{expiredTime}
    </delete>

    <!-- 新增  -->
    <insert id="insertLrcSession" parameterType="cn.lemonit.robot.runner.common.beans.entity.LrcSession" >
        INSERT INTO
        `LR_LRC_SESSION` (
            lrc_session_id,
            lrc_session_key,
            lrc_key,
            lrcs,
            ip_address,
            active_time
        ) VALUES (
            #{lrcSessionId},
            #{lrcSessionKey},
            #{lrcKey},
            #{lrcs},
            #{ipAddress},
            #{activeTime}
        )
    </insert>

    <!-- 删除  -->
    <delete id="deleteLrcSessionByLrcSessionKey" parameterType="String" >
        DELETE
        FROM
            LR_LRC_SESSION
        WHERE
            lrc_session_key = #{key}
    </delete>

    <!-- 删除  -->
    <delete id="deleteLrcSession" parameterType="cn.lemonit.robot.runner.common.beans.entity.LrcSession">
        DELETE
        FROM
        `LR_LRC_SESSION`
        WHERE
        1 = 1
        <if test="lrcSessionId != null">
            AND lrc_session_id = #{lrcSessionId}
        </if>
        <if test="lrcSessionKey != null">
            AND lrc_session_key = #{lrcSessionKey}
        </if>
        <if test="lrcKey != null">
            AND lrc_key = #{lrcKey}
        </if>
        <if test="lrcs != null">
            AND lrcs = #{lrcs}
        </if>
        <if test="ipAddress != null">
            AND ip_address = #{ipAddress}
        </if>
        <if test="activeTime != null">
            AND active_time = #{activeTime}
        </if>
    </delete>

    <!-- 修改  -->
    <update id="updateLrcSession" parameterType="cn.lemonit.robot.runner.common.beans.entity.LrcSession" >
        UPDATE
        `LR_LRC_SESSION`
        SET
        <trim suffixOverrides="," >
            <if test="lrcSessionKey != null">
                lrc_session_key = #{lrcSessionKey},
            </if>
            <if test="lrcKey != null">
                lrc_key = #{lrcKey},
            </if>
            <if test="lrcs != null">
                lrcs = #{lrcs},
            </if>
            <if test="ipAddress != null">
                ip_address = #{ipAddress},
            </if>
            <if test="activeTime != null">
                active_time = #{activeTime},
            </if>
        </trim>
        WHERE
        lrc_session_key = #{lrcSessionKey}
    </update>

    <!-- 查询  -->
    <select id="selectLrcSession" parameterType="cn.lemonit.robot.runner.common.beans.entity.LrcSession" resultType="cn.lemonit.robot.runner.common.beans.entity.LrcSession">
        SELECT
        lrc_session_id AS lrcSessionId,
        lrc_session_key AS lrcSessionKey,
        lrc_key AS lrcKey,
        lrcs AS lrcs,
        ip_address AS ipAddress,
        active_time AS activeTime
        FROM
        `LR_LRC_SESSION`
        WHERE
        1 = 1
        <if test="lrcSessionId != null">
            AND lrc_session_id = #{lrcSessionId}
        </if>
        <if test="lrcSessionKey != null">
            AND lrc_session_key = #{lrcSessionKey}
        </if>
        <if test="lrcKey != null">
            AND lrc_key = #{lrcKey}
        </if>
        <if test="lrcs != null">
            AND lrcs = #{lrcs}
        </if>
        <if test="ipAddress != null">
            AND ip_address = #{ipAddress}
        </if>
        <if test="activeTime != null">
            AND active_time = #{activeTime}
        </if>
    </select>

    <!-- 查询  -->
    <select id="countLrcSession" parameterType="cn.lemonit.robot.runner.common.beans.entity.LrcSession" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
        `LR_LRC_SESSION`
        WHERE
        1 = 1
        <if test="lrcSessionId != null">
            AND lrc_session_id = #{lrcSessionId}
        </if>
        <if test="lrcSessionKey != null">
            AND lrc_session_key = #{lrcSessionKey}
        </if>
        <if test="lrcKey != null">
            AND lrc_key = #{lrcKey}
        </if>
        <if test="lrcs != null">
            AND lrcs = #{lrcs}
        </if>
        <if test="ipAddress != null">
            AND ip_address = #{ipAddress}
        </if>
        <if test="activeTime != null">
            AND active_time = #{activeTime}
        </if>
    </select>

</mapper>