<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.LrcMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_PLUGIN` (
          `plugin_id`         INTEGER (16) NOT NULL AUTO_INCREMENT,
          `plugin_key`       VARCHAR (64) NULL,
          `install_time`   VARCHAR (16) NULL,
          `intro`         VARCHAR (512) NULL,
          `type`          INTEGER (2) NULL,
          `public_key`    VARCHAR (2048) NULL,
          `private_key`   VARCHAR (2048) NULL,
        PRIMARY KEY (`lrc_id`));
    </update>

    <!-- 新增  -->
    <insert id="insertLrc" parameterType="cn.lemonit.robot.runner.common.beans.entity.Lrc" >
        INSERT INTO
        `LR_LRC` (
            lrc_id,
            lrc_key,
            create_time,
            intro,
            type,
            public_key,
            private_key
        ) VALUES (
            #{lrcId},
            #{lrcKey},
            #{createTime},
            #{intro},
            #{type},
            #{publicKey},
            #{privateKey}
        )
    </insert>

    <!-- 删除  -->
    <delete id="deleteLrcByLrcKey" parameterType="String" >
        DELETE
        FROM
            LR_LRC
        WHERE
            lrc_key = #{key}
    </delete>

    <!-- 删除  -->
    <delete id="deleteLrc" parameterType="cn.lemonit.robot.runner.common.beans.entity.Lrc">
        DELETE
        FROM
        `LR_LRC`
        WHERE
        1 = 1
        <if test="lrcId != null">
            AND lrc_id = #{lrcId}
        </if>
        <if test="lrcKey != null">
            AND lrc_key = #{lrcKey}
        </if>
        <if test="createTime != null">
            AND create_time = #{createTime}
        </if>
        <if test="intro != null">
            AND intro = #{intro}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="publicKey != null">
            AND public_key = #{publicKey}
        </if>
        <if test="privateKey != null">
            AND private_key = #{privateKey}
        </if>
    </delete>

    <!-- 修改  -->
    <update id="updateLrc" parameterType="cn.lemonit.robot.runner.common.beans.entity.Lrc" >
        UPDATE
        `LR_LRC`
        SET
        <trim suffixOverrides="," >
            <if test="lrcKey != null">
                lrc_key = #{lrcKey},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="intro != null">
                intro = #{intro},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="publicKey != null">
                public_key = #{publicKey},
            </if>
            <if test="privateKey != null">
                private_key = #{privateKey},
            </if>
        </trim>
        WHERE
        lrc_key = #{lrcKey}
    </update>

    <!-- 查询  -->
    <select id="selectLrc" parameterType="cn.lemonit.robot.runner.common.beans.entity.Lrc" resultType="cn.lemonit.robot.runner.common.beans.entity.Lrc">
        SELECT
        lrc_id AS lrcId,
        lrc_key AS lrcKey,
        create_time AS createTime,
        intro AS intro,
        type AS type,
        public_key AS publicKey,
        private_key AS privateKey
        FROM
        `LR_LRC`
        WHERE
        1 = 1
        <if test="lrcId != null">
            AND lrc_id = #{lrcId}
        </if>
        <if test="lrcKey != null">
            AND lrc_key = #{lrcKey}
        </if>
        <if test="createTime != null">
            AND create_time = #{createTime}
        </if>
        <if test="intro != null">
            AND intro = #{intro}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="publicKey != null">
            AND public_key = #{publicKey}
        </if>
        <if test="privateKey != null">
            AND private_key = #{privateKey}
        </if>
    </select>

    <!-- 查询  -->
    <select id="countLrc" parameterType="cn.lemonit.robot.runner.common.beans.entity.Lrc" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
        `LR_LRC`
        WHERE
        1 = 1
        <if test="lrcId != null">
            AND lrc_id = #{lrcId}
        </if>
        <if test="lrcKey != null">
            AND lrc_key = #{lrcKey}
        </if>
        <if test="createTime != null">
            AND create_time = #{createTime}
        </if>
        <if test="intro != null">
            AND intro = #{intro}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="publicKey != null">
            AND public_key = #{publicKey}
        </if>
        <if test="privateKey != null">
            AND private_key = #{privateKey}
        </if>
    </select>

</mapper>