<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.PluginMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_PLUGIN` (
          `plugin_id`         INTEGER (16) NOT NULL AUTO_INCREMENT,
          `plugin_key`        VARCHAR (64) NULL,
          `install_time`      VARCHAR (16) NULL,
          `plugin_name`       VARCHAR (128) NULL,
          `package_name`      VARCHAR (256) NULL,
          `version`           VARCHAR (64) NULL,
          `store_code`        VARCHAR (128) NULL,
          `keyword`           VARCHAR (128) NULL,
          `plugin_detail`     TEXT NULL,
        PRIMARY KEY (`plugin_id`));
    </update>

    <!-- 新增  -->
    <insert id="insertPlugin" parameterType="cn.lemonit.robot.runner.common.beans.entity.Plugin" >
        INSERT INTO
        `LR_PLUGIN` (
        plugin_id,
        plugin_key,
        install_time,
        plugin_name,
        package_name,
        version,
        store_code,
        keyword,
        plugin_detail
        ) VALUES (
        #{pluginId},
        #{pluginKey},
        #{installTime},
        #{pluginName},
        #{packageName},
        #{version},
        #{storeCode},
        #{keyword},
        #{pluginDetail}
        )
    </insert>

    <!-- 删除  -->
    <delete id="deletePluginByPluginKey" parameterType="String" >
        DELETE
        FROM
        LR_PLUGIN
        WHERE
        plugin_key = #{key}
    </delete>

    <!-- 删除  -->
    <delete id="deletePlugin" parameterType="cn.lemonit.robot.runner.common.beans.entity.Plugin">
        DELETE
        FROM
        `LR_PLUGIN`
        WHERE
        1 = 1
        <if test="pluginId != null">
            AND plugin_id = #{pluginId}
        </if>
        <if test="pluginKey != null">
            AND plugin_key = #{pluginKey}
        </if>
        <if test="installTime != null">
            AND install_time = #{installTime}
        </if>
        <if test="pluginName != null">
            AND plugin_name = #{pluginName}
        </if>
        <if test="packageName != null">
            AND package_name = #{packageName}
        </if>
        <if test="version != null">
            AND version = #{version}
        </if>
        <if test="storeCode != null">
            AND store_code = #{storeCode}
        </if>
        <if test="keyword != null">
            AND keyword = #{keyword}
        </if>
        <if test="pluginDetail != null">
            AND plugin_detail = #{pluginDetail}
        </if>
    </delete>

    <!-- 修改  -->
    <update id="updatePlugin" parameterType="cn.lemonit.robot.runner.common.beans.entity.Plugin" >
        UPDATE
        `LR_PLUGIN`
        SET
        <trim suffixOverrides="," >
            <if test="pluginKey != null">
                plugin_key = #{pluginKey},
            </if>
            <if test="installTime != null">
                install_time = #{installTime},
            </if>
            <if test="pluginName != null">
                plugin_name = #{pluginName},
            </if>
            <if test="packageName != null">
                package_name = #{packageName},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
            <if test="storeCode != null">
                store_code = #{storeCode},
            </if>
            <if test="keyword != null">
                keyword = #{keyword},
            </if>
            <if test="pluginDetail != null">
                plugin_detail = #{pluginDetail},
            </if>
        </trim>
        WHERE
        plugin_key = #{pluginKey}
    </update>

    <!-- 查询  -->
    <select id="selectPlugin" parameterType="cn.lemonit.robot.runner.common.beans.entity.Plugin" resultType="cn.lemonit.robot.runner.common.beans.entity.Plugin">
        SELECT
        plugin_id AS pluginId,
        plugin_key AS pluginKey,
        install_time AS installTime,
        plugin_name AS pluginName,
        package_name AS packageName,
        version AS version,
        store_code AS storeCode,
        keyword AS keyword,
        plugin_detail AS pluginDetail
        FROM
        `LR_PLUGIN`
        WHERE
        1 = 1
        <if test="pluginId != null">
            AND plugin_id = #{pluginId}
        </if>
        <if test="pluginKey != null">
            AND plugin_key = #{pluginKey}
        </if>
        <if test="installTime != null">
            AND install_time = #{installTime}
        </if>
        <if test="pluginName != null">
            AND plugin_name = #{pluginName}
        </if>
        <if test="packageName != null">
            AND package_name = #{packageName}
        </if>
        <if test="version != null">
            AND version = #{version}
        </if>
        <if test="storeCode != null">
            AND store_code = #{storeCode}
        </if>
        <if test="keyword != null">
            AND keyword = #{keyword}
        </if>
        <if test="pluginDetail != null">
            AND plugin_detail = #{pluginDetail}
        </if>
    </select>

    <!-- 查询  -->
    <select id="countPlugin" parameterType="cn.lemonit.robot.runner.common.beans.entity.Plugin" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
        `LR_PLUGIN`
        WHERE
        1 = 1
        <if test="pluginId != null">
            AND plugin_id = #{pluginId}
        </if>
        <if test="pluginKey != null">
            AND plugin_key = #{pluginKey}
        </if>
        <if test="installTime != null">
            AND install_time = #{installTime}
        </if>
        <if test="pluginName != null">
            AND plugin_name = #{pluginName}
        </if>
        <if test="packageName != null">
            AND package_name = #{packageName}
        </if>
        <if test="version != null">
            AND version = #{version}
        </if>
        <if test="storeCode != null">
            AND store_code = #{storeCode}
        </if>
        <if test="keyword != null">
            AND keyword = #{keyword}
        </if>
        <if test="pluginDetail != null">
            AND plugin_detail = #{pluginDetail}
        </if>
    </select>

</mapper>