<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.TaskMapper" >

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_TASK` (
            `task_id`     INTEGER (16) NOT NULL AUTO_INCREMENT,
            `task_key`    VARCHAR (64),
            `task_name`   VARCHAR (256),
            `create_time` INTEGER (16),
        PRIMARY KEY (`task_id`));
    </update>

</mapper>