<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.TaskParameterDefMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_TASK_PARAMETER_DEF` (
            `task_parameter_def_id`   INTEGER (16) NOT NULL AUTO_INCREMENT,
            `task_parameter_def_key`  VARCHAR (64),
            `task_key`                VARCHAR (64),
            `name`                    VARCHAR (128),
            `regex`                   VARCHAR (1024),
            `is_required`             INTEGER (2),
            `is_binary`               INTEGER (2),
            `param_introduce`         VARCHAR (1024),
        PRIMARY KEY (`task_parameter_def_id`));
    </update>

    <!-- 新增  -->
    <insert id="insertTaskParameterDef" parameterType="cn.lemonit.robot.runner.common.beans.entity.TaskParameterDef" >
        INSERT INTO
        `LR_TASK_PARAMETER_DEF` (
            task_parameter_def_id,
            task_parameter_def_key,
            task_key,
            name,
            regex,
            is_required,
            is_binary,
            param_introduce
        ) VALUES (
            #{taskParameterDefId},
            #{taskParameterDefKey},
            #{taskKey},
            #{name},
            #{regex},
            #{isRequired},
            #{isBinary},
            #{paramIntroduce}
        )
    </insert>

    <!-- 删除  -->
    <delete id="deleteTaskParameterDefByTaskParameterDefKey" parameterType="String" >
        DELETE
        FROM
            LR_TASK_PARAMETER_DEF
        WHERE
            task_parameter_def_key = #{key}
    </delete>

    <!-- 删除  -->
    <delete id="deleteTaskParameterDef" parameterType="cn.lemonit.robot.runner.common.beans.entity.TaskParameterDef">
        DELETE
        FROM
        `LR_TASK_PARAMETER_DEF`
        WHERE
        1 = 1
        <if test="taskParameterDefId != null">
            AND task_parameter_def_id = #{taskParameterDefId}
        </if>
        <if test="taskParameterDefKey != null">
            AND task_parameter_def_key = #{taskParameterDefKey}
        </if>
        <if test="taskKey != null">
            AND task_key = #{taskKey}
        </if>
        <if test="name != null">
            AND name = #{name}
        </if>
        <if test="regex != null">
            AND regex = #{regex}
        </if>
        <if test="isRequired != null">
            AND is_required = #{isRequired}
        </if>
        <if test="isBinary != null">
            AND is_binary = #{isBinary}
        </if>
        <if test="paramIntroduce != null">
            AND param_introduce = #{paramIntroduce}
        </if>
    </delete>

    <!-- 修改  -->
    <update id="updateTaskParameterDef" parameterType="cn.lemonit.robot.runner.common.beans.entity.TaskParameterDef" >
        UPDATE
        `LR_TASK_PARAMETER_DEF`
        SET
        <trim suffixOverrides="," >
            <if test="taskParameterDefKey != null">
                task_parameter_def_key = #{taskParameterDefKey},
            </if>
            <if test="taskKey != null">
                task_key = #{taskKey},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="regex != null">
                regex = #{regex},
            </if>
            <if test="isRequired != null">
                is_required = #{isRequired},
            </if>
            <if test="isBinary != null">
                is_binary = #{isBinary},
            </if>
            <if test="paramIntroduce != null">
                param_introduce = #{paramIntroduce},
            </if>
        </trim>
        WHERE
        task_parameter_def_key = #{taskParameterDefKey}
    </update>

    <!-- 查询  -->
    <select id="selectTaskParameterDef" parameterType="cn.lemonit.robot.runner.common.beans.entity.TaskParameterDef" resultType="cn.lemonit.robot.runner.common.beans.entity.TaskParameterDef">
        SELECT
        task_parameter_def_id AS taskParameterDefId,
        task_parameter_def_key AS taskParameterDefKey,
        task_key AS taskKey,
        name AS name,
        regex AS regex,
        is_required AS isRequired,
        is_binary AS isBinary,
        param_introduce AS paramIntroduce
        FROM
        `LR_TASK_PARAMETER_DEF`
        WHERE
        1 = 1
        <if test="taskParameterDefId != null">
            AND task_parameter_def_id = #{taskParameterDefId}
        </if>
        <if test="taskParameterDefKey != null">
            AND task_parameter_def_key = #{taskParameterDefKey}
        </if>
        <if test="taskKey != null">
            AND task_key = #{taskKey}
        </if>
        <if test="name != null">
            AND name = #{name}
        </if>
        <if test="regex != null">
            AND regex = #{regex}
        </if>
        <if test="isRequired != null">
            AND is_required = #{isRequired}
        </if>
        <if test="isBinary != null">
            AND is_binary = #{isBinary}
        </if>
        <if test="paramIntroduce != null">
            AND param_introduce = #{paramIntroduce}
        </if>
    </select>

    <!-- 查询  -->
    <select id="countTaskParameterDef" parameterType="cn.lemonit.robot.runner.common.beans.entity.TaskParameterDef" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
        `LR_TASK_PARAMETER_DEF`
        WHERE
        1 = 1
        <if test="taskParameterDefId != null">
            AND task_parameter_def_id = #{taskParameterDefId}
        </if>
        <if test="taskParameterDefKey != null">
            AND task_parameter_def_key = #{taskParameterDefKey}
        </if>
        <if test="taskKey != null">
            AND task_key = #{taskKey}
        </if>
        <if test="name != null">
            AND name = #{name}
        </if>
        <if test="regex != null">
            AND regex = #{regex}
        </if>
        <if test="isRequired != null">
            AND is_required = #{isRequired}
        </if>
        <if test="isBinary != null">
            AND is_binary = #{isBinary}
        </if>
        <if test="paramIntroduce != null">
            AND param_introduce = #{paramIntroduce}
        </if>
    </select>

</mapper>