<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.TaskParameterDefMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_TASK_PARAMETER_DEF` (
            `task_parameter_def_id`   INTEGER (16) NOT NULL AUTO_INCREMENT,
            `task_parameter_def_key`  VARCHAR (64),
            `name`                    VARCHAR (128),
            `is_required`             INTEGER (2),
            `is_binary`               INTEGER (2),
            `template`                LONGTEXT,
        PRIMARY KEY (`task_parameter_def_id`));
    </update>

</mapper>