<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.TaskPluginUsageMapper" >

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_TASK_PLUGIN_USAGE` (
            `task_plugin_usage_id`    INTEGER (64) NOT NULL AUTO_INCREMENT,
            `task_plugin_usage_key`   VARCHAR (64),
            `task_key`                VARCHAR (64),
            `plugin_str`              VARCHAR (256),
        PRIMARY KEY (`task_plugin_usage_id`));
    </update>

</mapper>