<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.TDsdRelMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_T_DSD_REL` (
            `t_dsd_rel_id`      INTEGER (16) NOT NULL AUTO_INCREMENT,
            `task_key`          VARCHAR (64),
            `data_set_def_key`  VARCHAR (64),
        PRIMARY KEY (`t_dsd_rel_id`));
    </update>

</mapper>