<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lemonit.robot.runner.server.mapper.TTisRelMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `LR_T_TIS_REL` (
            `tTisRelId`             INTEGER (64) NOT NULL AUTO_INCREMENT,
            `taskKey`               VARCHAR (64),
            `taskInstructionSetKey` VARCHAR (64),
        PRIMARY KEY (`tTisRelId`));
    </update>

</mapper>